{% load widget_tweaks %}
{% load static %}

<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="{% static "core/css/register.css" %}">
    	<link rel="stylesheet" href="{% static "core/css/alerts.css" %}">
	</head>
	<body>
	{% block content %}
    {% if alert %}
 	{% include 'includes/warning.html' %}
	{% endif %}
	<form method="post">
    {% csrf_token %}
		<div class="registerwrapper">
			<div class="wrapper">
			<div class="registerimg">
				<img src='{% static 'images/aussie2.jpg' %}'>
			</div>
			<div class="registerright">
				<div class="registerinfo">
					<div class="headerwrap">
						<span>Create An Account!</span>
					</div>
					<div id="namerow">
						{{ form.first_name|default_if_none:"First name"|add_class:'registerinput registerfirstinput' }}
						{{ form.last_name|default_if_none:"Last name"|add_class:'registerinput' }}
					</div>

		
					<div>
						{{ form.email|add_class:'registeremail registerinput' }}
					</div>
					<div id="passwordrow">
						{{ form.password|default_if_none:"Password"|add_class:'registerinput registerfirstinput' }}
						{{ form.re_password|default_if_none:"Password"|add_class:'registerinput' }} 
					</div>

					<!-- smallscreen init hidden -->
				

					<div>
						<input  id="submit" type="submit"  class='registerbtn' value="Register Account"></input>	
					</div>


					<hr id="line" />

					<div id="registersocial">
						<div class="registergoogle"><span>Register with Google</span></div>
						<div id="registerfacebook" class="registerfacebook"><span>Register with Facebook</span></div>
					</div>

					<div class="registerfacebooksmallscreen">
						<div id="registerfacebookbtnsmallscreen" class="registerfacebook"><span>Register with Facebook</span></div>
					</div>

					<hr id="line1" />

					<div id="forgotwrap">
						<a href="#" class="forgot"><span>Forgot Password?</span></a>
					</div>
					<div id="loginwrap">
						<a href="/users/login" class="forgot"><span>Already have an account? Login!</span></a>
					</div>
				</div>
			</div>
			</div>
		</div>
		</form>
		{% endblock %}

		<script src="{% static 'core/js/errorCheckRegister.js' %}"></script>
	</body>
</html>