{% extends 'html/base.html' %}

{% load widget_tweaks %}


{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static "ether/css/folders.css" %}">
<link rel="stylesheet" href="{% static "ether/css/qafilecontainer.css" %}">
<link rel="stylesheet" href="{% static "ether/css/flexboxgrid.css" %}">
<link rel="stylesheet" href="{% static "ether/css/fileupload.css" %}">
<link rel="stylesheet" href="{% static "ether/css/movetopopupstyle.css" %}">

    

  


{% endblock %}
{% block javascript %}
<script src="{% static 'ether/js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'ether/js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'ether/js/jquery-file-upload/jquery.fileupload.js' %}"></script>
<script src="{% static 'ether/js/bbase.js' %}"></script>
<script src="{% static 'ether/js/movetopopup.js' %}"></script>




{# PHOTOS PAGE SCRIPTS #}
<script src="{% static 'uploads/js/progress-bar-upload.js' %}"></script>



{% endblock %}
{% block content %}
<style>
	#accountwrapper{
		margin-top:35px;
		width:600px
		height:600px;
		display:flex;
		align-items: center;
		flex-direction: column;
	}
	#accountinfowrapper{
		
		display: flex;
		flex-direction: column;
		margin-bottom:35px;
		margin-top:35px;
	}
	#personalinfospan{
		text-align: center;
		margin-bottom:10px;
	}

	#profilewrapper{
		border:1px solid #CDCDCD;
		width:800px;
		border-radius:5px;
	}

	#contactwrapper{
		margin-top:30px;
		border:1px solid #CDCDCD;
		width:800px;
		border-radius:5px;
	}
	#profileheaderwrapper{
		display: flex;
		flex-direction:column;
	}

	#profileheaderwrapper > span{
	}

	#namewrapper{
		display:flex;

	}
	#namecontainer{
		width:100px;
	}

	#profileh{
		color:black;
		font-size:1.25em;
		margin-bottom:10px;
	}
	#proinfo{
		font-size:.8em;
		color:rgba(0,0,0,.5);
	}
	span{
		color:gray;
	}

	#namewrapper:hover{
		background-color:rgba(0,0,0,.02);

	}
	#namecontainer{
		margin-left:20px;
	}
	.namelink{
		display:flex;
	}

</style>
<div id="accountwrapper">
	<div id="accountinfowrapper">
		<span id="personalinfospan">Personal info</span>
		<span id="pinfosubspan">Basic info, like your name and photo, that you use on Ether services</span>
	</div>

	<div id="profilewrapper">
		<div id="profileheaderwrapper">
			
			<span id="profileh">Profile</span>
			<span id="proinfo">Some info may be visible to other people using Google services. Learn more</span>
		</div>

		<div id="namewrapper">
			<div id="namecontainer"><span>PHOTO</span></div>
			<div id="unamecontainer"><span>Add a photo to personalize your account</span></div>
		</div>

		<div id="namewrapper">
			<a class="namelink" href="/users/changename">
			<div id="namecontainer"><span>NAME</span></div>
			<div id="unamecontainer"><span>Mason Cruse</span></div>
			</a>

		</div>

		<div id="namewrapper">
			<div id="namecontainer"><span>PASSWORD</span></div>
			<div id="unamecontainer"><span>**********</span></div>
		</div>


	</div>


	<div id="contactwrapper">
		<div id="profileheaderwrapper">
			<span id="profileh">Contact Info</span>
		</div>

		
		<div id="namewrapper">
			<div id="namecontainer"><span>EMAIL</span></div>
			<div id="unamecontainer"><span>crusemason1995@gmail.com</span></div>
		</div>

		<div id="namewrapper">
			<div id="namecontainer"><span>PHONE</span></div>
			<div id="unamecontainer"><span>8327275251<span></div>
		</div>


	</div>

</div>

{% endblock %}

{% include 'includes/fileupload/fileupload.html' %}      

 {% include 'includes/filecontextfolder.html' %}

{% block js %}

<script src="{% static "ether/js/bbase.js" %}"></script>
<script src="{% static "ether/js/fileupload.js" %}"></script>
<script src="{% static "ether/js/fileupload.js" %}"></script>
<script src="{% static "ether/js/movetopopup.js" %}"></script>
<script src="{% static "ether/js/showimages.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static "core/js/browsercheckpw.js" %}"></script>

{% endblock %}
  
