<div class="share-wrapper" id='share-popup'>
    <div class="share-r">
        <div class="shareiconwrap">
            <i class="fas fa-user-plus"></i>    
        </div>
        <h3>Share with people</h3>
        <i id="share-close" class="fas fa-times" onClick="shareClose()"></i>
    </div>
    <div class="share-r1">
        <form id='shareform' method='post' action='/share/'>
        <input id="shareinput" type="text" name="share-q" class="share-q blueglow">
        </form>
    </div>
    <div class="share-r2">
        <a href="#" class="close-link" onClick="shareClose()"><div class="share-cancel">CANCEL</div></a>
        <a href="#" class="create-link"><div onclick="document.getElementById('shareform').submit();" class="share-create">SHARE</div></a>
    </div>
</div>