
<div id='fu' class='fileuploadwrapper'>
        <div class='fuheader'>
            <div class='futitle'>1 upload complete</div>
            <div class='fubuttons'>
                <div id='fudown' class="fuhover" onclick='fudown();'> 
                    <i id='down'  class="fas fa-angle-down fa-lg"></i>
                </div>
                <div id='futimes'class="fuhover" onclick='fuclose();'>
                    <i  class="fas fa-times fa-lg" ></i>
                </div>

            </div>
        </div>

        <div id='fupro' class='fuprogresswrapper'>
            <div cass='futime'>
                <span id='futimer'>time remaing</span>
                 <button id="uploadstop" class='fuuploadcancel'>CANCEL</button>
            </div>
           
        </div>
        <div id='mbody'>
        <table id='t'>
        <tbody>
        </tbody>
        </table>
        {% for photo in photos %}
        <div id="#fileupload">
            <tbody>
                
            </tbody>
        </div>
        <div class='fufilewrapper'>
            <i id='futype'  class="far fa-image fa-lg" ></i>
            <span id='funame'>{{ image.file.name }}</span>
            <div class='fucheck'>
                <i  class="fas fa-check " ></i>
            </div>
            <div class='fufolder'>
                <i  class="far fa-folder fa-lg"></i>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
